@page
@model CNSVM.Pages.SupportModel
@{
    ViewData["Title"] = "Soporte";
}
<h2>Soporte</h2>

<p>Si tienes problemas con tu cuenta o has olvidado tu contraseña, puedes contactarnos utilizando los siguientes métodos:</p>

<div class="support-info">
    <h3>Correo Electrónico:</h3>
    <p>nicolastocoyucra@gmail.com</p>

    <h3>Número de Contacto:</h3>
    <p>+591 73359567</p>

    <p>Envía un correo con tu nombre de usuario y una breve descripción del problema para que podamos ayudarte a restaurar tu contraseña lo antes posible.</p>
</div>

<!-- Opcional: añadir enlaces o botones adicionales -->
<div>
    <a href="/Users/Login" class="btn btn-primary">Volver a Iniciar Sesión</a>
</div>
